<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Charter - Punch Card</title>
    <link rel="icon" href="/static/Images/img.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="navbar">
        <a href="index.html">
            <div class="navbar-left">
                <img src="/static/Images/img.png" alt="Logo">
                <div class="navbar-name">Punch Card</div>
            </div>
        </a>
        <div>
            <a href="index.html"><b>HOME</b></a>
            <a href="charter.html" class="active"><b>CHARTER</b></a>
            <a href="milestones.html"><b>MILESTONES</b></a>
            <a href="budget.html"><b>BUDGET</b></a>
            <a href="wbs.html"><b>WBS</b></a>
            <a href="aoa.html"><b>AOA</b></a>
            <a href="risks.html"><b>RISKS</b></a>
            <a href="reports.html"><b>REPORTS</b></a>
            <a href="team.html"><b>TEAM</b></a>
            <a href="sow.html"><b>SOW</b></a>
            <a href="review.html"><b>REVIEW</b></a>
        </div>
    </div>
</head>
<body>
    <h2><b>PROJECT CHARTER</b></h3>
    <div class="charter-container">
        <div class="row my-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Current Project Status</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>Released</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Total Estimated Budget</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>$520,000</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Date Approved</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>October 01st, 2024</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Release Date</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>November 28th, 2024</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Project Sponsor</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>John Doe</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Project Manager</b></h5>
                        <p style="color: blue;" class="card-text text-center"><b>Johanan Mendoza Aguazul</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h3><b>Project Description</b></h3>
            <p style="text-align: justify;">
                The Punch Card project aims to develop a user-friendly, cloud-based system to 
                replace the outdated UC Flex system used by student workers to clock in and out of 
                campus jobs. The new system will enhance user experience, improve efficiency, and 
                ensure reliability.
            </p>
        </div>
        <div class="my-4">
            <h3><b>Busienss Case</b></h3>
            <p style="text-align: justify;">
                UC Flex is currently considered cumbersome and inefficient by users. Punch Card will 
                create a smoother, easier to use system for student workers, improving daily operations 
                and reducing frustrations. This project supports better workforce management on campus 
                and aligns with the institution's goals of operational efficiency and student satisfaction.
            </p>
        </div>
        <div class="my-4">
            <h3><b>Expected Goals / Deliverables</b></h3>
            <p style="text-align: justify;">
                <ul>
                    <li><b>Improve Efficiency: </b>Streamline the clock-in and clock-out process
                        for student workers.
                    </li>
                    <li>
                        <b>Enhance User Experience: </b>Develop an intuitive user interface that simplifies 
                        the process for end users.
                    </li>
                    <li>
                        <b>Reliable System: </b>Ensure that the new system is cloud-based to reduce the reliance on 
                        local hardware and minimize system outages.
                    </li>
                </ul>
            </p>
        </div>
        <div class="my-4">
            <h3><b>Milestones</b></h3>
            <table class="table table-bordered text-center">
                <thead style="background-color: #202020; color: #fff;">
                    <tr>
                        <th>Milestone</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kickoff</td>
                        <td>09/24/2024</td>
                        <td style="color: green;" ><b>Completed</b></td>
                    </tr>
                    <tr>
                        <td>Brainstorming</td>
                        <td>09/25/2024 - 10/08/2024</td>
                        <td style="color: green;"><b>Completed</b></td>
                    </tr>
                    <tr>
                        <td>Development</td>
                        <td>10/09/2024 - 10/29/2024</td>
                        <td style="color: green;"><b>Completed</b></td>
                    </tr>
                    <tr>
                        <td>Testing and Quality Assurance</td>
                        <td>10/30/2024 - 11/12/2024</td>
                        <td style="color: green;"><b>Completed</b></td>
                    </tr>
                    <tr>
                        <td>Finalizing</td>
                        <td>11/13/2024 - 11/26/2024</td>
                        <td style="color: green;"><b>Completed</b></td>
                    </tr>
                    <tr>
                        <td>Release</td>
                        <td>11/27/2024</td>
                        <td style="color: green;"><b>Completed</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="my-4">
            <h3><b>Team Members</b></h3>
            <table class="table table-bordered text-center">
                <thead  style="background-color: #202020; color: #fff">
                <tr>
                    <th>Team Member Name</th>
                    <th>Employee ID</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Johanan Mendoza Aguazul</td>
                        <td>M15305536</td>
                        <td>mendozjh@mail.uc.edu</td>
                        <td>Project Manager</td>
                    </tr>
                    <tr>
                        <td>Pratham Rajesh Biyani</td>
                        <td>M14257966</td>
                        <td>biyanipm@mail.uc.edu</td>
                        <td>Python Developer</td>
                    </tr>
                    <tr>
                        <td>Luis Begic</td>
                        <td>M13520398</td>
                        <td>begicls@mail.uc.edu</td>
                        <td>Content Creator</td>
                    </tr>
                    <tr>
                        <td>Becca Cordray</td>
                        <td>M14516710</td>
                        <td>cordrarg@mail.uc.edu</td>
                        <td>Content Developer</td>
                    </tr>
                    <tr>
                        <td>Alex Brroksbank</td>
                        <td>M14572421</td>
                        <td>brooka4@mail.uc.edu</td>
                        <td>Quality Assurance</td>
                    </tr>
                    <tr>
                        <td>Sean Brennsan</td>
                        <td>M14326730</td>
                        <td>bernnast@mail.uc.edu</td>
                        <td>Researcher</td>
                    </tr>
                    <tr>
                        <td>Sid Kakarlapudi</td>
                        <td>M14957524</td>
                        <td>kakarlsa@mail.uc.edu</td>
                        <td>Researcher</td>
                    </tr>
                    <tr>
                        <td>Fakhruddin Shaik</td>
                        <td>M15139187</td>
                        <td>shaikfn@mail.uc.edu</td>
                        <td>Researcher</td>
                    </tr>
                    <tr>
                        <td>Venkat Yuva Raaj Narra</td>
                        <td>M15422089</td>
                        <td>narravj@mail.uc.edu</td>
                        <td>Researcher</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="charter-page-end">
        <div class="page-btn">
            <a href="milestones.html" class="btn">Milestones >>></a>
        </div>            
    </div>
</body>
<footer>
    <p><b>&copy; 2024 Punch Card Project Management. All rights reserved.</b></p>
</footer>
</html>