<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement of Work - Punch Card</title>
    <link rel="icon" href="/static/Images/img.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="navbar">
        <a href="index.html">
            <div class="navbar-left">
                <img src="/static/Images/img.png" alt="Logo">
                <div class="navbar-name">Punch Card</div>
            </div>
        </a>
        <div>
            <a href="index.html"><b>HOME</b></a>
            <a href="charter.html"><b>CHARTER</b></a>
            <a href="milestones.html"><b>MILESTONES</b></a>
            <a href="budget.html"><b>BUDGET</b></a>
            <a href="wbs.html"><b>WBS</b></a>
            <a href="aoa.html"><b>AOA</b></a>
            <a href="risks.html"><b>RISKS</b></a>
            <a href="reports.html"><b>REPORTS</b></a>
            <a href="team.html"><b>TEAM</b></a>
            <a href="sow.html" class="active"><b>SOW</b></a>
            <a href="review.html"><b>REVIEW</b></a>
        </div>
    </div>
</head>
<body>
    <h2><b>STATEMENT OF WORK</b></h2>
    <div class="container">
        <div class="team-member">
            <img src="/static/Images/member1.JPG" alt="Johanan Mendoza Aguazul">
            <div>
                <h3>Johanan Mendoza Aguazul</h3>
                <p style="text-align: justify;"><b>"</b> As a project manager, I was in charge of planning and executing our project. As well 
                    as overseeing the project to make sure we were within scope, budget. However, lots of things can change in a small amount 
                    of time if there isn't good communication within all team members and Project Manager, which could mislead team the goal. 
                    I would say good communication was the most difficult of a Project Manager. <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member2.jpeg" alt="Pratham Biyani">
            <div>
                <h3>Pratham Biyani</h3>
                <p style="text-align: justify;"><b>"</b> As the Python Developer for the Project Management Dashboard project, I was 
                    responsible for designing, coding, and implementing the entire website backend using Python, ensuring seamless 
                    integration with frontend elements. I developed core functionalities, including a dynamic dashboard displaying project 
                    information, a calendar for scheduling and timeline visualization, interactive Work Breakdown Structure (WBS) diagrams, 
                    and an Activity-on-Arrow (AOA) diagram for effective project planning. Using frameworks like Flask or Django, I created 
                    modular, reusable, and well-documented code, enabling scalability and ease of maintenance. I collaborated closely with 
                    the team to integrate HTML, CSS, and JavaScript, ensuring a responsive and user-friendly interface while conducting 
                    extensive testing to resolve bugs and optimize performance. My work involved preparing comprehensive documentation, 
                    providing updates to the project manager, and delivering a fully functional, intuitive, and feature-rich dashboard that 
                    enhanced project tracking and decision-making. <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member3.jpg" alt="Luis Begic">
            <div>
                <h3>Luis Begic</h3>
                <p style="text-align: justify;"><b>"</b> Sample Text <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member4.png" alt="Becca Cordray">
            <div>
                <h3>Becca Cordray</h3>
                <p style="text-align: justify;"><b>"</b> Sample Text <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member5.jpeg" alt="Alex Brooksbank">
            <div>
                <h3>Alex Brooksbank</h3>
                <p style="text-align: justify;"><b>"</b> Sample Text <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member6.JPG" alt="Sean Brennan">
            <div>
                <h3>Sean Brennan</h3>
                <p style="text-align: justify;"><b>"</b> For the Punch project I had the role of researcher, and my assignments were to assist 
                    in the drafting of some of the first documents for the project. I assisted in drafting the project charter and evaluating 
                    some of the initial risks during the beginning of the project. I was also tasked with creating the final System of Work, 
                    this is what I spent most of my time working on, this is also where most of the complications arose. Tracking down all 
                    the documentation that went into the SoW was the most complex part of this task. Throughout the project my task was to 
                    create documentation for the final SoW and to assist with other tasks when needed/asked. <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member7.jpeg" alt="Sid Kakarlapudi">
            <div>
                <h3>Sid Kakarlapudi</h3>
                <p style="text-align: justify;"><b>"</b> In the Punch Card program, our team worked to develop a new and improved system to 
                    replace the UC Flex system, with enhancements including consistent time tracking, clock-in/out functionality, and improved 
                    schedule reliability. As a researcher, I played a key role in gathering and analyzing data to provide actionable insights 
                    that informed the project's direction. I was also responsible for creating the project charter, which defined the project's 
                    scope, objectives, and deliverables, as well as contributing to the final Statement of Work (SoW) to outline the project's 
                    key tasks, timelines, and responsibilities. Collaborating with a diverse team, including Project Manager Johanan Mendoza 
                    Aguazul, developers, programmers, and content creators, I ensured that my research and documentation aligned with the 
                    project's technical and operational goals, setting a strong foundation for its successful implementation. <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member9.jpeg" alt="Venkat Yuva Raj Narra">
            <div>
                <h3>Venkat Yuva Raj Narra</h3>
                <p style="text-align: justify;"><b>"</b> I researched and analyzed key risks in migrating from the UC Flex system to the Punch 
                    system, focusing on data integrity, security requirements, downtime, server security, insider threats, and compliance 
                    violations. I outlined the potential impacts of each risk, provided detailed mitigation strategies, and developed real-world 
                    scenarios to illustrate their implications. My work formed a critical part of the risk management framework, equipping the 
                    team to address potential challenges during implementation proactively. <b>"</b></p>
            </div>
        </div>
        <div class="team-member">
            <img src="/static/Images/member8.jpeg" alt="Fakhruddin Shaik">
            <div>
                <h3>Fakhruddin Shaik</h3>
                <p style="text-align: justify;"><b>"</b> <b>"</b></p>
            </div>
        </div>
    </div>
      
    <div class="sow-page-end">
        <div class="page-btn">
            <a href="review.html" class="btn">Review >>></a>
        </div>            
    </div>
</body>
<footer>
    <p><b>&copy; 2024 Punch Card Project Management. All rights reserved.</b></p>
</footer>
</html>    