<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members - Punch Card</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="navbar">
        <div class="navbar-left">
            <img src="/static/Images/img.webp" alt="Logo">
            <div class="navbar-name">Punch Card</div>
        </div>
        <div>
            <a href="../templates/index.html"><b>HOME</b></a>
            <a href="../templates/charter.html"><b>CHARTER</b></a>
            <a href="../templates/milestones.html"><b>MILESTONES</b></a>
            <a href="../templates/budget.html"><b>BUDGET</b></a>
            <a href="../templates/wbs.html"><b>WBS</b></a>
            <a href="../templates/aoa.html"><b>AOA</b></a>
            <a href="../templates/sow.html"><b>SOW</b></a>
            <a href="../templates/team.html" class="active"><b>TEAM</b></a>
        </div>
    </div>
</head>
<body>
    <div class="container">
        <h2 class="my-4"><b>MEET OUR TEAM</b></h2>
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member1.jpg" class="card-img-top" alt="Team Member 1" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Johanan Mendoza Aguazul</b></h5>
                        <p class="card-text">Project Manager</br>
                        Email: <a href="mailto:mendozjh@mail.uc.edu">mendozjh@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member2.jpeg" class="card-img-top" alt="Team Member 2" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Pratham Rajesh Biyani</b></h5>
                        <p class="card-text">Deputy Project Manager / Python Developer</br>
                        Email: <a href="mailto:sid.kakarlapudi@example.com">biyanipm@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member3.jpg" class="card-img-top" alt="Team Member 3" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Luis Begic</b></h5>
                        <p class="card-text">Content Creator</br>
                        Email: <a href="mailto:begicls@mail.uc.edu">begicls@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member4.jpg" class="card-img-top" alt="Team Member 4" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Becca Cordray</b></h5>
                        <p class="card-text">Content Developer</br>
                        Email: <a href="mailto:cordrarg@mail.uc.edu">cordrarg@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member5.jpg" class="card-img-top" alt="Team Member 5" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Alex Brooksbank</b></h5>
                        <p class="card-text">Content Developer</br>
                        Email: <a href="mailto:brooka4@mail.uc.edu">brooka4@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 6 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member6.jpg" class="card-img-top" alt="Team Member 6" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Sean Brennan</b></h5>
                        <p class="card-text">Researcher</br>
                        Email: <a href="mailto:bernnast@mail.uc.edu">bernnast@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 7 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px">
                    <img src="/static/Images/member7.jpg" class="card-img-top" alt="Team Member 7" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Sid Kakarlapudi</b></h5>
                        <p class="card-text">Researcher</br>
                        Email: <a href="mailto:kakarlsa@mail.uc.edu">kakarlsa@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 8 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px;">
                    <img src="/static/Images/member8.jpg" class="card-img-top" alt="Team Member 8" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Fakhruddin Shaik</b></h5>
                        <p class="card-text">Researcher</br>
                        Email: <a href="mailto:shaikfn@mail.uc.edu">fshaikfn@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 9 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="border-radius: 15px; height: 300px;">
                    <img src="/static/Images/member9.jpg" class="card-img-top" alt="Team Member 9" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Venkat Yuva Raaj Barra</b></h5>
                        <p class="card-text">Researcher</br>
                        Email: <a href="mailto:shaikfn@mail.uc.edu">narravj@mail.uc.edu</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <p><b>&copy; 2024 Punch Card Project Management. All rights reserved.</b></p>
</footer>
</html>