<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team - Punch Card</title>
    <link rel="icon" href="/static/Images/img.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="navbar">
        <a href="index.html">
            <div class="navbar-left">
                <img src="/static/Images/img.png" alt="Logo">
                <div class="navbar-name">Punch Card</div>
            </div>
        </a>
        <div>
            <a href="index.html"><b>HOME</b></a>
            <a href="charter.html"><b>CHARTER</b></a>
            <a href="milestones.html"><b>MILESTONES</b></a>
            <a href="budget.html"><b>BUDGET</b></a>
            <a href="wbs.html"><b>WBS</b></a>
            <a href="aoa.html"><b>AOA</b></a>
            <a href="risks.html"><b>RISKS</b></a>
            <a href="reports.html"><b>REPORTS</b></a>
            <a href="team.html" class="active"><b>TEAM</b></a>
            <a href="sow.html"><b>SOW</b></a>
            <a href="review.html"><b>REVIEW</b></a>
        </div>
    </div>
</head>
<body>
    <h2><b>MEET OUR TEAM</b></h2>
    <div class="team-container">
        <div class="my-4">
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member1.jpg" class="card-img-top" alt="Team Member 1" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Johanan Mendoza Aguazul</b></h5>
                            <p class="card-text">Project Manager</br>
                            Email: <a href="mailto:mendozjh@mail.uc.edu">mendozjh@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member2.jpeg" class="card-img-top" alt="Team Member 2" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Pratham Rajesh Biyani</b></h5>
                            <p class="card-text">Deputy Project Manager / Python Developer</br>
                            Email: <a href="mailto:sid.kakarlapudi@example.com">biyanipm@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member3.jpg" class="card-img-top" alt="Team Member 3" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Luis Begic</b></h5>
                            <p class="card-text">Content Creator</br>
                            Email: <a href="mailto:begicls@mail.uc.edu">begicls@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member4.png" class="card-img-top" alt="Team Member 4" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Becca Cordray</b></h5>
                            <p class="card-text">Content Developer</br>
                            Email: <a href="mailto:cordrarg@mail.uc.edu">cordrarg@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 5 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member5.jpeg" class="card-img-top" alt="Team Member 5" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Alex Brooksbank</b></h5>
                            <p class="card-text">Quality Assurance</br>
                            Email: <a href="mailto:brooka4@mail.uc.edu">brooka4@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 6 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member6.jpg" class="card-img-top" alt="Team Member 6" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Sean Brennan</b></h5>
                            <p class="card-text">Researcher</br>
                            Email: <a href="mailto:bernnast@mail.uc.edu">bernnast@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 7 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px">
                        <img src="/static/Images/member7.jpeg" class="card-img-top" alt="Team Member 7" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Sid Kakarlapudi</b></h5>
                            <p class="card-text">Researcher</br>
                            Email: <a href="mailto:kakarlsa@mail.uc.edu">kakarlsa@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 8 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px;">
                        <img src="/static/Images/member8.jpeg" class="card-img-top" alt="Team Member 8" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Fakhruddin Shaik</b></h5>
                            <p class="card-text">Researcher</br>
                            Email: <a href="mailto:shaikfn@mail.uc.edu">fshaikfn@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 9 -->
                <div class="col-md-4 mb-4">
                    <div class="card" style="border-radius: 15px; height: 300px;">
                        <img src="/static/Images/member9.jpeg" class="card-img-top" alt="Team Member 9" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title"><b>Venkat Yuva Raaj Narra</b></h5>
                            <p class="card-text">Researcher</br>
                            Email: <a href="mailto:shaikfn@mail.uc.edu">narravj@mail.uc.edu</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <h2><b>TEAM BUILDING ACTIVITIES</b></h2>
    <div class="team-container">
        <div class="team-building-section-4">
            <div style="margin-bottom: 20px;">
                <ol class="activity-grid">
                    <li>
                        <div class="activity">
                            <h3><b>Icebreakers and Introductions</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To help team members get to know each other better and build rapport.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Two Truths and a Lie
                                        </li>
                                        <li>
                                            Fun Fact Bingo
                                        </li>
                                        <li>
                                            What's in a Name?" (Sharing stories about their names)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Problem-Solving Activities</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To enhance critical thinking and collaborative skills.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Escape Room challenges (digital or physical)
                                        </li>
                                        <li>
                                            Marshmallow Challenge (building the tallest structure using marshmallows)
                                        </li>
                                        <li>
                                            Puzzle Assembly Race
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Communication Games</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To improve listening, clear communication, and trust.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Telephone game with project-related terms
                                        </li>
                                        <li>
                                            Back-to-Back Drawing (one person describes a shape for the other to draw)
                                        </li>
                                        <li>
                                            Lego Building Challenge (one teammate gives instructions while others assemble)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Role Swap Scenarios</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To simulate workplace challenges and brainstorm solutions collaboratively.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Conflict resolution simulations
                                        </li>
                                        <li>
                                            Delegation and priority-setting scenarios
                                        </li>
                                        <li>
                                            Client pitch presentations
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Team Building Workshops</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To foster understanding of team dynamics and build stronger relationships.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Personality Type Exercises (e.g., Myers-Briggs, DISC, or StrengthsFinder)
                                        </li>
                                        <li>
                                            Leadership Training modules
                                        </li>
                                        <li>
                                            Vision and Goal-Setting sessions
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Outdoor or Physical Activities</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To encourage teamwork in a fun and active environment.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Obstacle course
                                        </li>
                                        <li>
                                            Treasure Hunts
                                        </li>
                                        <li>
                                            Team sports (volleyball, soccer, etc.)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Virtual Team Building Activities</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To include remote teams in fun and collaborative exercises.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Online trivia quizzes
                                        </li>
                                        <li>
                                            Virtual escape rooms
                                        </li>
                                        <li>
                                            Collaborative whiteboard brainstorming
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="activity">
                            <h3><b>Reflection and Feedback Sessions</b></h3>
                            <ul>
                                <li>
                                    <b>Purpose: </b>To encourage learning and improvement from the exercises.
                                </li>
                                <li>
                                    <b>Example: </b>
                                    <ul>
                                        <li>
                                            Post-activity debriefs
                                        </li>
                                        <li>
                                            Feedback loops for what worked and what could improve
                                        </li>
                                        <li>
                                            Recognition and awards for participants
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    </div>

    <div class="team-page-end">
        <div class="page-btn">
            <a href="sow.html" class="btn">SOW >>></a>
        </div>            
    </div>
</body>
<footer>
    <p><b>&copy; 2024 Punch Card Project Management. All rights reserved.</b></p>
</footer>
</html>